<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Total Active Energy</nb-card-header>
      <nb-card-body>
        <canvas id=totalActiveEnergyChart></canvas>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Active Power</nb-card-header>
      <nb-card-body>
        <canvas id=activePowerChart></canvas>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Current</nb-card-header>
      <nb-card-body>
        <canvas id=currentChart></canvas>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Voltage</nb-card-header>
      <nb-card-body>
        <canvas id=voltageChart></canvas>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Power Factor</nb-card-header>
      <nb-card-body>
        <canvas id=powerFactorChart></canvas>
      </nb-card-body>
    </nb-card>
  </div>
</div>

